/* Color Theme Swatches in Hex */
.bronze-and-grey-blues-1-hex { color: #324371; }
.bronze-and-grey-blues-2-hex { color: #435D74; }
.bronze-and-grey-blues-3-hex { color: #5194BE; }
.bronze-and-grey-blues-4-hex { color: #BF756A; }
.bronze-and-grey-blues-5-hex { color: #878785; }

.Better-Odds-Than-Vegas-1-hex { color: #FED26F; }
.Better-Odds-Than-Vegas-2-hex { color: #FBB03B; }
.Better-Odds-Than-Vegas-3-hex { color: #F9FAFB; }
.Better-Odds-Than-Vegas-4-hex { color: #0979BF; }
.Better-Odds-Than-Vegas-5-hex { color: #ED1C24; }

body{
  font-family: harfang-pro,serif;
  font-weight: 900;
  font-style: normal;
  background-color: #FBB03B;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  width: auto;
  margin: 20px 50px 20px 50px;
  overflow-y: hidden;
}

/*Other text Color
color: #435D74;
*/

h2{
  text-decoration: underline;
}

img{
  width: 75px;
  height: 100px;
}

header h1{
  text-align: center;
}

dd{
  margin-left: 75px;
}

hr{
  height: 2px;
  width: 100%;
  background-color: #435D74;
  border: none;
}

dd img{
  height: 60px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

dd ul{
  list-style-type: none;
  display: block;
}

dd li{
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle{
  margin-left: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.top-menu{
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.top-menu button{
  border-width: 0;
  background-color: #0979BF;
  color: #F9FAFB;
}

.start-menu{
  display: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.start-menu button{
  border-width: 0;
  background-color: #0979BF;
  color: #F9FAFB;
}

#deck{
  display: inline-block;
  height: 20%;
  width: 55%;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 100px;
}
.deck_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deck_wrapper{
  overflow: hidden;
}

#top, #op1top, #op2top, #op3top{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px;
}

#opponent{

  height: 20%;
  width: auto;
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: #FED26F;
  margin-bottom: 5px;
  background-color: #000000;
}
#opponent1, #opponent2, #opponent3{
  display: block;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

#user{

  position: relative;
  height: 25%;
  width: auto;
  border-style: solid;
  border-width: 7px;
  border-color: #ED1C24;
  background-color: #000000;
}

#cards{
  display: flex;
  align-content: center;
  width: auto;
  justify-content: center;
  margin: 15px;
}
.user_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card_wrapper{
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  cursor: pointer;
}
#card_wrapper:last-child {
  overflow: visible;
}

#card_wrapper:hover{
  overflow: visible;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#alerts{
  visibility: hidden;
  text-align: center;
  width: 70%;
  padding: 15px;
  opacity: 0.85;
  border: 1px solid transparent;
  color: #0F1026;
  background-color: #0979BF;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  top: 45%;
}

#previous{
  position: relative;
  display: inline;
  float: left;
  height: 95px;
  width: 15%;
  display: inline-block;
  overflow-y: auto;
  background-color: #FAF7EE;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  color: #000000;
}

#previous p{
  padding-left: 10px;
  font-size: 12px;
}

.game_rules ul{
  list-style-type: circle;
}
