/* Color Theme Swatches in Hex */
.bronze-and-grey-blues-1-hex { color: #324371; }
.bronze-and-grey-blues-2-hex { color: #435D74; }
.bronze-and-grey-blues-3-hex { color: #5194BE; }
.bronze-and-grey-blues-4-hex { color: #BF756A; }
.bronze-and-grey-blues-5-hex { color: #878785; }

.Better-Odds-Than-Vegas-1-hex { color: #FED26F; }
.Better-Odds-Than-Vegas-2-hex { color: #FBB03B; }
.Better-Odds-Than-Vegas-3-hex { color: #F9FAFB; }
.Better-Odds-Than-Vegas-4-hex { color: #0979BF; }
.Better-Odds-Than-Vegas-5-hex { color: #ED1C24; }

/* General display settings */
body{
  font-family: harfang-pro,serif;
  font-weight: 900;
  font-style: normal;
  background-color: #FBB03B;
  color: #000000;
  font-size: 20px;
  padding: 5px;
  width: auto;
  margin: 20px 50px 20px 50px;
}

.grid_container{
  justify-content: center;
  display: grid;
  grid-template-columns: 15% 50% 15%;
  grid-template-rows: 38vh 14vh 35vh 1vh;
  grid-template-areas:
  "header header header"
  "sidebar main remcards"
  "footer footer footer"
  "bttn bttn bttn";
  grid-gap: 2px;
}

/*Other text Color
color: #435D74;
*/

img{
  width: 75px;
  height: 100px;
}

header h1{
  text-align: center;
}

/* Handles home page instructions */
.example{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 75px;
  height: 20px;
  border-style: dashed;
  border-radius: 5px;
  border-width: 2px;
}

.top_menu h2{
  text-decoration: underline;
}

.instructions dd{
  margin-left: 75px;
}

.instructions dd img{
  height: 60px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.instructions dd ul{
  list-style-type: none;
  display: block;
}

.instructions dd li{
  font-size: 20px;
  margin-bottom: 10px;
}

.subtitle{
  margin-left: 50px;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* Handles start menu button */
.top-menu{
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.top-menu button{
  border-width: 0;
  background-color: #0979BF;
  color: #F9FAFB;
}

/* Handles the start button */
.start-menu{
  grid-area: bttn;
  justify-content: center;
  display: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.start-menu button{
  border-width: 0;
  background-color: #0979BF;
  color: #F9FAFB;
}

/* Handles the amount of cards remaining in the deck */
#rem_cards{
  grid-area: remcards;
  justify-content: center;
}

#rem_cards img{
  height: 100px;
  width: auto;
}

/* Handles deck area */
#deck{
  grid-area: main;
  border-style: dashed;
  border-color: #FBB03B;
  border-width: 2px;
  border-radius: 5px;
  display: block;
  justify-self: stretch;
  max-height: 14vh;
}

/* Handle's deck card images */
#deck img{
  height: 95px;
  width: auto;
  padding: 2px;
}

.deck_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deck_wrapper{
  overflow: hidden;
}

#deck_wrapper:last-child{
  overflow: visible;
}

/* Handle's opponent's area */
#opponent{
  grid-area: header;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: #FED26F;
  background-color: #000000;
  max-height: 36vh;
}

#opponent1, #opponent2, #opponent3{
  display: inline-block;
  justify-content: center;
  text-align: center;
}

/* Handles opponent's hand */
#op1top, #op2top, #op3top{
  display: flex;
  justify-content: center;
  text-align: center;
}

#opponent img{
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.ophand1, .ophand2, .ophand3{
  margin-top: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.ophand1 img, .ophand2 img, .ophand3 img{
  height: 50px;
  width: auto;
}

#ophandwrap{
  overflow: hidden;
}

/* Handles user's area */
#user{
  grid-area: footer;
  max-height: 32vh;
  position: relative;
  border-style: solid;
  border-width: 7px;
  border-color: #ED1C24;
  background-color: #000000;
}

/* Handles user's hand */
#top{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#cards{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 15px;
  padding-left: 20vh;
  padding-right: 20vh;
}
.user_cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card_wrapper{
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  cursor: pointer;
}
#card_wrapper:last-child {
  overflow: visible;
}

#card_wrapper:hover{
  overflow: visible;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Handles the different alerts that pop up throughout the game */
#alerts{
  grid-area: main;
  position: relative;
  visibility: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 20px;
  display: inline-block;
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.95;
  border: 1px solid transparent;
  color: #0F1026;
  background-color: #0979BF;
  border-radius: 2px;
  z-index: 1;
}

/* Handles display of previous cards played */
#previous{
  grid-area: sidebar;
  position: relative;
  justify-self: stretch;
  display: flex;
  flex-flow: column;
  background-color: #FAF7EE;
  color: #000000;
  margin-bottom: 5px;
  margin-right: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
}

#previous p{
  padding-left: 10px;
  margin-bottom: 1px;
  font-size: 10px;
}

.prevwrap{
  max-height: 10vh;
  overflow-y: hidden;
}

.game_rules ul{
  list-style-type: circle;
}
